{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block body %}
    <div id="root"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
{% endblock %}