{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin-style') }}
{% endblock %}
{% block body %}
    <div id="root"></div>
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
{% endblock %}